html, body
{
	background-color: rgb(73, 73, 73);
	margin : 0;
	padding : 0;
	color:aliceblue;
}

header
{
	top : 0;
	left :0;
	background-color: rgb(29, 29, 29);
	color : aliceblue;
	padding:10px;
}

footer
{
    background-color: rgb(29, 29, 29);
	width: 100%;
	color: aliceblue;
	height: 40px;
	font-size: 15px;
	text-align: center;
    padding-top: 5px;
    letter-spacing: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
}

body > a > img
{
	position:fixed;
    right:0;
    bottom:0;
    margin:0;
}


h1
{
	margin-top: 0;
	text-align: center;
}

h2
{
	margin-top: 0;
    color: blueviolet;
	text-align: right;
    padding:10px;
}

table
{
	margin: 0 auto;
	border-collapse: collapse;
	border : 1px aliceblue solid;
	margin-top: 10px;
	margin-bottom: 25px;
	text-align: center;
}

td, tr, th
{
	border : 1px aliceblue solid;
	padding: 15px;
}

th
{
    background-color:rgb(71, 11, 11);
}

.bon{
    background-color: rgb(64, 128, 73);
}
.pasBon{
    background-color: rgb(168, 83, 83) ;
}

fieldset
{
    font-size: 20px;
	background-color: #4c0c0c;
    letter-spacing: 5px;

	width: 30%;
	color: white;
	height: 20px;
	margin: 0 auto;

}

td > img 
{
    width: 100px;
}


.victoire
{
    border: 1px solid aliceblue;
	background-color:rgb(71, 11, 11);
	opacity: 0.5;
    font-size: 25px;
    letter-spacing: 5px;
    color: aliceblue;
    width: 30%;
	margin: 0 auto;
	margin-bottom: 80px;
    margin-top: 10px;
    text-align: center;
	padding: 5px;
}

.soluce
{

	float: right;
    color: rgb(219, 162, 242);
	width:3%;
    margin-top: -60px;
    cursor: pointer;
}

.ilo
{
	color: aliceblue;
	text-decoration: none;
}

aside
{
	border: 1px solid aliceblue;
	background-color:rgb(71, 11, 11);
	text-align: center;
	font-size: 15px;
    letter-spacing: 5px;
	width: 250px;
	color: aliceblue;
	height: 150px;
	position: fixed;
	margin: 25px;


}

.box_100x20 
{ 
	width: 105px;
	height: 30px;
	border: thin solid black;
	color: aliceblue;
	padding: 4px; 
	float: left;
	margin: 0px 5px;
}


