html, body
{
	margin : 0;
	padding : 0;
	background-color: rgb(73, 73, 73);
}

header
{
	top : 0;
	left :0;
	background-color: rgb(29, 29, 29);
	color : rgb(75, 78, 82);
	padding:10px;
}

footer
{
    background-color: rgb(29, 29, 29);
	width: 100%;
	color: #9d9999;
	height: 40px;
	font-size: 15px;
	text-align: center;
    padding-top: 5px;
    letter-spacing: 5px;
    
    
    
}

h1
{
	margin-top: 0;
	text-align: center;
}

tr {
	padding: 3px;
    background: rgb(122, 120, 120);
	color : white;
}

tr:nth-child(odd) {
    background:rgb(145, 142, 142);
	color : white;
}

table {
	width:55%;
	border:1px solid #00000044;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 12px;
    margin: 0 auto;
    margin-top: 50px;

}

th {
	background:rgb(201, 186, 55);
	padding: 27px;
    color:white;
    width: 10%;
    font-size: 25px;
	color : white;
}



.cell {
	text-align:center;
    padding: 5px;
}


.imgPKM 
{
    width: 100px;
}

.imgType 
{
    width:150px;
}

.head 
{
    width:100%;
}

.quiz
{
	float: right;
    color: rgb(219, 162, 242);
	width:5%;
	margin-top: -60px;
    cursor: pointer;
}